---
title: Tim
description: "Naš tim čine entuzijasti iz različitih oblasti tehnlogije, menadžmenta, marketinga, umetnosti, kulture. Zajedno širimo impuls znanja, motivacije i inspiracije i kreiramo dobre prilike za razvoj našeg društva."
barimg: team.png
barcolor: bg-black
---

<div class="grid44">

  {% for t in site.data.team %}
    <div class="timphoto">
      <div>
        <img src="{{ t.pic }}">
        <div class="caption">{{ t.name }}</div>
      </div>
    </div>
  {% endfor %}

</div>
