{% macro id(name, localUrl, url, twitter, desc) %}
<div class="project">
  <div>
    <h2><a href="{{localUrl}}">{{ name }}</a></h2>
  </div>
  <div class="content">
    {{ desc }}
    <div class="bar">
      <a href="{{url}}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
      <a href="{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="{{twitter}}" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="{{twitter}}" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="{{twitter}}" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>
{% endmacro %}
