{% macro id(name, localUrl, url, twitter, desc) %}
<div class="project"><a href="{{localUrl}}">
  <h2>{{ name }}</h2>
  <div class="content">
    {{ desc }}
  </div>
</a>
  <div class="bar">
    <a href="{{url}}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
    <a href="{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="{{twitter}}" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="{{twitter}}" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="{{twitter}}" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
</div>
{% endmacro %}
