
header {
  font-size: 1em;
  position: fixed;
  line-height: 1.2em;
  z-index: 10;
  width: 100%;
  white-space: nowrap;
  background-color: $color-hs-black;
}

nav ul li a {
  text-decoration: none;
  color: $color-hs-white;
}

.inner-nav {
    display: flex;
    align-items: center;
}

.site-logo {
    //top: 10px;
    //padding-left: 15px;
    //position: fixed;
    padding: 10px 0;
    img {
      width: 70%;
    }
}

nav.nav-primary {
  clear: both;
  display: inline-block;
  width: 100%;
  line-height: 2em;
  border-left: 2px dotted $color-hs-white;

  ul {
    list-style: none;
    display: block;
    margin:0;
    padding-left:0;
  }

  li {
    display: block;
    float: left;
    margin-left: 1.2em;
  }

  a {
    text-transform: lowercase;
  }
  a:hover {
    color: $color-hs-white;
    text-decoration: underline;
  }
}

nav.nav-lang {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 14px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }

  ul li {
    display: inline-block;
    color: $color-hs-white;
  }

  ul li:first-child::after {
    content: "/";
    margin-right: -20px;
  }

  .current-lang > span {
    text-decoration: underline;
  }

  a:hover {
    color: $color-hs-white;
  }
}
