
$section-padding:   4em;

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-gap: 1em;
}

main {
	padding-top: 70px;
}
main .grid, footer.grid {
  padding: $section-padding 0;
}
main .grid:first-child {
  padding: $section-padding/2;
}

.content-wrap {
  grid-column: 2;
  font-size: 2em;
  line-height: 1.2;
}
.content-wrap-1em {
  grid-column: 2;
  font-size: 1em;
  line-height: 1;
}


h1.superbig {
  font-size: 16em;
  line-height: .7em;
}
h1.big {
  font-size: 8em;
  line-height: .7em;
}

a i.fab, a i.far, a i.fas {
  &:hover {
    color: $color-hs-black;
  }
}
