
@media screen and (max-width: $screen-large) {
	.content-wrap {
		padding: 0 60px 0 100px;
	}
}

@media screen and (max-width: $screen-break) {
	.flex {
		flex-direction: column;
		align-items: center;
    	justify-content: center;
	}
	.grid {
		display: block;
	}
	main {
		padding-top:50px;
	}
}

@media screen and (max-width: $screen-small) {
	body {
		font-size: 0.8em;
	}
	.content-wrap {
		padding: 0 0 0 10px;
	}
}