
@media screen and (max-width: $screen-large) {
	.content-wrap {
		padding: 0 60px 0 100px;
	}
}

@media screen and (max-width: $screen-break) {
	.flex {
		flex-direction: column;
	}
	.grid {
		display: block;
	}
	main .grid:first, main .grid {
		padding: 0
	}
	#social {
		margin: 0 2em;
	}
}

@media screen and (max-width: $screen-small) {
	body {
		font-size: 0.8em;
	}
	.content-wrap {
		padding: 0 0 0 10px;
	}
}