
@media screen and (max-width: $screen-large) {
	.content-wrap {
		padding: 0 60px 0 100px;
	}
}

@media screen and (max-width: $screen-break) {
	.flex {
		flex-direction: column;
	}
}

@media screen and (max-width: $screen-small) {
	body {
		font-size: 0.8em;
	}
	.content-wrap {
		padding: 0 0 0 60px;
	}
	nav.nav-lang {
		left: 0;
		top: 8px;
	}
	.site-branding {
		width: 50px;
	}
	nav.nav-primary {
		ul {
			line-height: 30px;
		}
	}
	header {
		width: 100vh;
		left: 10px;
	}
}