@import "normalize";
@import "variables";
@import "animation";
@import "common";
@import "header";
@import "footer";

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
  grid-gap: 1em;
}
main .grid, footer.grid {
	padding: $section-padding 0;
}

main {
	padding-top: 70px;
}

.content-wrap {
  grid-column: 2;
  font-size: 2em;
  line-height: 1.2;
}
.content-wrap-1em {
  grid-column: 2;
  font-size: 1em;
  line-height: 1;
}



@import "media";
