@import "normalize";
@import "mixins";
@import "animations";
@import "heartbeat";

@import url('https://fonts.googleapis.com/css?family=Lato|Lobster+Two');

/** VARIABLES **/
$color-beige: #fdf4e3;
$color-ligth-green: #f1faee;
$color-shadow: #111;
$color-red: #e63946;
$color-dark-gray: #414a51;
$color-gray: #f5f5f5;
$color-yellow: #ffe119;
$color-light-blue: #a8dadc;
$color-blue: #457b9d;
$color-navy: #1d3557;
$color-night: #2b294c;

$font-cursive: 'Lobster Two', cursive;
$font-text: 'Lato';

/** ROOT **/

*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-size: 400px 450px;
    background-color: $color-night;
    color: $color-night;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    cursor: crosshair;
}

a {
    outline: none;
    color: $color-red;
    text-decoration: none;
    &:hover {
        color: darken(saturate($color-red, 20%), 20%);
    }
    &:focus {
        outline: none;
    }
}

/** MODALS */
main {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-height: 99vh;
    height: 100%;
    display: none;
}
.modal-all {
    background-color: rgba(0, 0, 0, 0.8);
}
.over {
    display: flex;
    justify-content: center;
    align-items: center;
}
.msgbox {
    padding: 0.5em;
    cursor: pointer;
    @include rounded();
    @include box-shadow(10px, 10px, 20px, $color-shadow);
    @include envelope(150deg, $color-red, $color-beige, $color-blue);

    > div {
        font-size: 3em;
        font-family: $font-cursive;
        text-align: center;
        padding: 1em;
        background-color: $color-beige;
        @include rounded();
    }
}

.popup {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 40%;
    max-width: 400px;
    font-size: 1em;
    display: none;
}

.popupbox {
    padding: 0.3em 0;
    cursor: pointer;
    @include rounded();
    @include box-shadow(10px, 10px, 20px, $color-shadow);
    @include envelope(150deg, $color-blue, $color-beige, $color-red);

    > div {
        background-color: $color-beige;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
}
 #p {
    flex: 0 0 50px;
    padding: 0 2em 0 1em;
    font-size: 0.8em;
    text-align: center;
    font-family: $font-text;
    text-transform: uppercase;
}
#pbar {
    padding-top: 2em;
    font-size: 12px;
    font-family: $font-text;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 160px;
    > div {
        align-self: flex-end;
    }
}
#q {
    font-size: 1.3em;
    font-family: $font-text;
    text-align: center;
    padding: 0 1em 0 0;
}

#wish {
    width: 80%;
    top: 10%;
    left: 10%;
    display: none;
}

.controls {
    font-size: 1em;
    color: $color-red;
    font-family: $font-text;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    display: none;

    label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    input[type="checkbox"] {
        opacity: 0;
    }
    input[type="checkbox"]:checked + label {
        color: $color-beige;
    }
}

.footer-message {
    color: $color-beige;
    font-family: $font-text;
    font-size: 1em;
    text-align: center;
}

