<footer id="contact" class="gridbox bg-black"><div class="gridbox-content">

  {% include "partials/mailchimp.njk" %}

	<ul id="social">
		<li><a href="https://www.meetup.com/Heapspace/" target="_blank"><i class="fab fa-meetup"></i></a></li>
		<li><a href="https://twitter.com/heap_space" target="_blank"><i class="fab fa-twitter"></i></a></li>
		<li><a href="https://www.instagram.com/heap_space/" target="_blank"><i class="fab fa-instagram"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UCSyM4id-CzDFHQatXHDiwog" target="_blank"><i class="fab fa-youtube"></i></a></li>
		<li><a href="http://facebook.com/heapspace" target="_blank"><i class="fab fa-facebook"></i></a></li>
		<li><a href="https://www.linkedin.com/company/heapspace/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
	</ul>

    <div id="footer">©{{ site.build.date | dateDisplay('yyyy') }} Heapspace / &nbsp;<i class="fas fa-heart"></i>&nbsp; / Društvo u kom živimo svoju strast za delanjem.</div>

    <div id="private"><a href="/politika-privatnosti">Politika privatnosti</a> & <a href="/uslovi-koriscenja">Uslovi korišćenja</a></div>
</div></footer>
