
<meta property="og:site_name" content="heapspace" />
<meta property="og:type" content="website" />
{#<meta property="og:url" content=".Permalink !!" />#}
{#{{ if .Params.post }}#}
{#	<meta name="description" content="{{ summary }}" />#}
{#	<meta property="og:description" content="{{ summary }}" />#}
{#	<meta property="og:image" content="{{ site.BaseURL }}blog/{{ slug }}/{{ postImage }}" />#}
{#	<meta property="og:type" content="article" />#}
{#	<meta name="twitter:description" content="{{ .Summary }}" />#}
{#{{ else }}#}
{#	<meta name="description" content="{{ i18n "site-description" }}" />#}
{#	<meta property="og:description" content="{{ i18n "site-description" }}" />#}
{#	<meta property="og:image" content="{{ .Site.BaseURL }}hs-og.png" />#}
{#	<meta property="og:type" content="website" />#}
{#	<meta name="twitter:description" content="{{ i18n "site-description" }}" />#}
{#	<meta name="twitter:title" content="{{ .Site.Title }}" />#}
{#{{ end }}#}
<meta name="twitter:card" content="summary_large_image" />
{#{{ if IsHome }}#}
{#    <title>{{ .Site.Title }}</title>#}
{#    <meta property="og:title" content="{{ .Site.Title }}" />#}
{#    <meta name="twitter:title" content="{{ .Site.Title }}" />#}
{#{{ else }}#}
{#    <title>{{ .Title }} - {{ .Site.Title }}</title>#}
{#    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />#}
{#    <meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />#}
{#{{ end }}#}

<link rel="shortlink" href="https://heapspace.rs/" />
<link rel="alternate" href="https://heapspace.rs/" hreflang="sr" />
<link rel="alternate" href="https://heapspace.rs/en/" hreflang="en" />
<link rel="alternate" href="https://heapspace.rs/" hreflang="x-default" />

<link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/favicon-180x180.png" />
<meta name="msapplication-TileImage" content="/favicon-270x270.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#eb5027">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#eb5027">
