<div class="inner-nav">
  <div class="site-logo">
    <a href="/"><img src="/gfx/hs.svg" class="custom-logo" alt="heapspace" itemprop="logo" style="width: 80px;"></a>
  </div>
  <nav class="nav-primary">
    <ul class="nav">
      <li><a href="/projekti">projekti</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/partneri">partneri</a></li>
      <li><a href="/organizacija">organizacija</a></li>
      <li><a href="/kontakt">kontakt</a></li>
    </ul>
  </nav>
</div>
