<div>
  <div class="site-logo">
    <a href="/"><img src="/gfx/hs.svg" class="custom-logo" alt="heapspace" itemprop="logo" style="width: 80px;"></a>
  </div>
  <nav class="nav-primary">
    <ul class="nav">
      <li {{ "class=selected" if menu==10 }}><a href="/projekti">projekti</a></li>
      <li {{ "class=selected" if menu==20 }}><a href="/blog">blog</a></li>
      <li {{ "class=selected" if menu==30 }}><a href="/vesti">vesti</a></li>
      <li {{ "class=selected" if menu==40 }}><a href="/partneri">partneri</a></li>

    </ul>
  </nav>
  <nav class="nav-secondary">
    <nav class="sub-nav">
      <ul>
        <li {{ "class=selected" if menu==100 }}><a href="/organizacija">organizacija</a></li>
        <li {{ "class=selected" if menu==110 }}><a href="/tim">tim</a></li>
        <li {{ "class=selected" if menu==120 }}><a href="/vrednosti">naše vrednosti</a></li>
        <li {{ "class=selected" if menu==50  }}><a href="/kontakt">kontakt</a></li>
      </ul>
    </nav>
  </nav>
</div>
