{{ define "main" }}
{{ $member := (index $.Site.Data.team .Params.slug ) }}
<div class="grid bg-blue"><div class="content-wrap">
<section id="main" class="author">
  <div style="display: flex">
  {{ if .Params.photo }}
  {{ $image := .Resources.GetMatch .Params.photo }}
  {{ if $image }}
  <img src="{{ $image.RelPermalink }}" style="flex: 1; height: {{ $image.Height }}px; max-width: {{ $image.Width }}px; margin-top: 1em;">
  {{ end }}
  {{ end }}
  <div style="flex: 1; margin-left: 1em">
  <h1>{{ $member.fullName }}</h1>
  <div class="links">
  	{{ if $member.github }}<a href="https://github.com/{{ $member.github }}" target="_blank"><i class="fab fa-github"></i></a>{{ end }}
  	{{ if $member.twitter }}<a href="htts://twitter/{{ $member.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{{end}}
    {{ if $member.linkedin }}<a href="https://www.linkedin.com/in/{{ $member.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>{{end}}
  	{{ if $member.blog }}<a href="{{$member.blog}}" target="_blank"><i class="fas fa-blog"></i></a>{{end}}
    {{ if $member.home }}<a href="{{$member.home}}" target="_blank"><i class="fas fa-home"></i></a>{{end}}
  </div>
  {{.Content}}
  </div>
  </div>
</section>
</div></div>

<div class="grid"><div class="content-wrap">
<h2>Članci</h2>
{{ range .Data.Pages }}
  {{ partial "article_small" . }}
{{ end }}
</div></div>

{{ end }}