<!DOCTYPE html>
<html lang="{{$.Site.Language}}">
    <head>
    	<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ .Title }} - {{ .Site.Title }}</title>
		{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
		<link rel='stylesheet' href='{{ $style.RelPermalink }}' type='text/css' media='all' />
		{{ partial "head" . }}
    </head>
    <body>

    	{{ partial "header" . }}

		<main id="main" class="main bg-{{ .Param "color" }}">
			{{ block "main" . }}{{ end }}
		</main>

		{{ partial "footer" . }}

		{{ partial "js" . }}

    </body>
</html>