{{ define "main" }}

{{ .Content }}

<div class="grid bg-white"><div class="content-wrap">

{{ range first .Site.Params.lastPostsCount (where .Site.RegularPages "Type" "posts") }}

{{ $image := .Resources.GetMatch .Params.postImage }}
{{ if $image}}{{ $image := $image.Fill "800x180 center" }}{{ end}}

<div class="post post-small">
<div>
	<h2><a href="{{ .RelPermalink }}">{{.LinkTitle}}</a></h2>
	<br>
	{{ if $image }}
	<div class="center-cropped {{ .Params.smallImageClass }}" style="background-image: url({{ $image.RelPermalink }});">
	</div>
	{{ end }}
	{{- .Summary -}}
	{{ partial "article_about2" . }}

</div>
</div>
{{ end }}

</div></div>

{{ end }}