{{ define "main" }}

{{ .Content }}

<div class="grid bg-white"><div class="content-wrap">

{{ range first .Site.Params.lastPostsCount (where .Site.RegularPages "Type" "posts") }}

{{ $indexjpg := .Resources.GetMatch "index.jpg" }}
{{ $image := $indexjpg.Fill "800x180 center" }}

<div class="post post-small">
<div>
	<h2><a href="{{ .RelPermalink }}">{{.LinkTitle}}</a></h2>
	{{ partial "article_about" . }}
	<img style="width: 100%; height: {{ $image.Height }}px;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
	<p>{{ .Summary }}</p>
</div>
</div>
{{ end }}

</div></div>

{{ end }}