{{ define "main" }}
<div class="grid"><div class="content-wrap">
<section id="main" class="post">
  <h1>{{ .Title }}</h1>
  {{ if isset .Params "subtitle" }}<h2 class="subtitle">{{ .Params.subtitle }}</h2>{{ end }}
  {{ partial "article_about" .}}

  {{ $image := .Resources.GetMatch .Params.postImage }}{{- if $image -}}
  <img style="width: 100%; margin: 1em 0 0 0;" src="{{ $image.RelPermalink }}">
  {{- end -}}

  <article style="margin-top: 1em;">
    {{ .Content }}
  </article>

  {{ partial "share-links" . }}

</section>
</div></div>

<div class="grid bg-blue"><div class="content-wrap">
<aside id="meta">
    <div>
    {{ with .Params.tags }}
    <ul id="tags" class="clear">
      {{ range . }}
        <li>#{{ . }} </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
</div></div>
{{ end }}
