---
title: Projekti
description: Naši projekti su usmereni na povezivanje tehnologije, kulture, umetnosti i preduzetništva.
---

{% import "macros/projects.html" as projects %}

{{ projects.id(
  'Tehnološki doručak',
  'tehnoloski-dorucak/',
  'https://tehnoloskidorucak.io',
  '#',
  'Serija događaja koji promovišu lokalno preduzetništvo. Razmena preduzetničkih ideja uz jutarnju kafu i kiflice u šest gradova u regionu.'
) }}

{{ projects.id(
  'Heapcon',
  'heapcon/',
  'https://heapcon.io',
  '#',
  'Tehnološka konferencija za softverske inženjere. Doveli smo Voxxed Days u Beograd, a od 2018. godine organizujemo Heapcon.'
) }}

{{ projects.id(
  'OpenData',
  'opendata/',
  'https://opendata.rs',
  '#',
  'Inicijativa za unapređenje postojećih skupova otvorenih podataka Republike Srbije i uspostavljanje platforme za lakšu objavu novih skupova.'
) }}

