<footer id="contact" class="grid bg-black"><div class="content-wrap">

	{{ partial "mailchimp" . }}

	<ul>
		<li><a href="https://www.meetup.com/Heapspace/" target="_blank">meetup</a></li>
		<li><a href="https://twitter.com/heap_space" target="_blank">twitter</a></li>
		<li><a href="https://www.instagram.com/_heapspace_/" target="_blank">instagram</a></li>
		<li><a href="https://www.youtube.com/channel/UCSyM4id-CzDFHQatXHDiwog" target="_blank">youtube</a></li>
		<li><a href="http://facebook.com/heapspace" target="_blank">facebook</a></li>
	</ul>

    <div id="footer">©{{ partial "year" }} heapspace / organized with&nbsp;<i class="fas fa-heart"></i>&nbsp;for technology and local community.</div>

</div></footer>