<meta name="description" content="{{ i18n "site-description" }}"/>

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ i18n "site-description" }}" />
<meta property="og:url" content="https://heapspace.rs/" />
<meta property="og:site_name" content="heapspace" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{ i18n "site-description" }}" />
<meta name="twitter:title" content="{{ .Site.Title }}" />

<link rel="shortlink" href="https://heapspace.rs/" />
<link rel="alternate" href="https://heapspace.rs/" hreflang="sr" />
<link rel="alternate" href="https://heapspace.rs/en/" hreflang="en" />
<link rel="alternate" href="https://heapspace.rs/" hreflang="x-default" />

<link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/favicon-180x180.png" />
<meta name="msapplication-TileImage" content="/favicon-270x270.png" />
