{{ define "main" }}
<main>
	<div id="hello" class="modal modal-all over">
		<a class="msgbox jackInTheBox"><div>
			Year 2019. is missing!<br>
			Help the Heapspace team<br>
			to return it back!
		</div></a>
	</div>

	<div id="wish" class="modal over">
		<div class="msgbox"><div>
			Happy New 2019!<br>
			Your friends from Heapspace :)
			<div id="pbar">
			</div>
		</div></div>
	</div>

	<div id="challenge" class="popup over"><div class="popupbox"><div>
		<div id="p"><img src="/g/m1.png"><span>&nbsp;</span></div>
		<div id="q">&nbsp;</div>
	</div></div></div>

	<section class="svg-container">
		{{ partial "sng2019.svg" }}
	</section>

	<div class="controls">
		<input id="musicbox" type="checkbox" onclick='toggleMusic(audio)' checked><label for="musicbox">music</label>
		<input id="snowbox" type="checkbox" onclick='toggleSnow()' checked><label for="snowbox">snow</label>
	</div>

</main>

<footer></footer>

{{ end }}

{{ define "js" }}
<script type="text/javascript">

const manCount = 21;
const femaleCount = 16;
const manNames = ['Mita', 'Igor', 'Nino', 'Stefan', 'Nikola'];
const femaleNames = ['Vesna', 'Jovana', 'Ivana', 'Kaća', 'Nevena'];
const totalPersons = manNames.length + femaleNames.length;

const challenges = [
{
	q: 'How many times do I have to say "Ho"?',
	a: 'deda'
}, {
	q: 'Ah deer, I love to play in the snow.',
	a: 'irvas'
}, {
	q: 'Something is lost, and I\'m cold',
	a: 'rukavica'
}, {
	q: 'Snow, snow, little ball...',
	a: 'kugla'
}, {
	q: 'Jingle, jingle, jingle all the day!',
	a: 'zvono'
}, {
	q: 'Ride or fly, no matter where you are!',
	a: 'sanke'
}, {
	q: 'Everyone likes them.',
	a: 'poklon2'
}, {
	q: 'In the middle of the night, it\'s light',
	a: 'lampa2'
}, {
	q: 'Empty in the evening, full in the morning.',
	a: 'carapa'
}, {
	q: 'Beautiful circle and some greens.',
	a: 'ukras'
}, {
	q: 'I don\'t know where I go.',
	a: 'putokaz'
}, {
	q: 'Boooom. Baaaang. Woooow.',
	a: 'raketa'
}, {
	q: 'Short, but sweet.',
	a: 'pingvin'
}, {
	q: 'He has a big, cold, heart.',
	a: 'snesko'
}
];
const lastChallenge = 7;

// ------------------------------------------------------------- util

function preloadImages(arguments) {
  for (var i = 0; i < arguments.length; i++) {
    $("<img />").attr("src", arguments[i]);
  }
}

function loadAndPlayAudio() {
	audio = new Audio('/JingleBells.mp3');
	audio.autoplay = true;
	audio.volume = 0.4;
	audio.loop = true;
	audio.play();
}

function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
}

function getRGB(str){
  var match = str.match(/rgba?\((\d{1,3}), ?(\d{1,3}), ?(\d{1,3})\)?(?:, ?(\d(?:\.\d?))\))?/);
  return match ? {
    red: match[1],
    green: match[2],
    blue: match[3]
  } : {};
}

function rnd(max) {
	return Math.floor(Math.random() * max);
}
function randomManPng() {
	return '/g/m' + (rnd(manCount) + 1) + '.png';
}
function randomFemalePng() {
	return '/g/f' + (rnd(femaleCount) + 1) + '.png';
}

function randomPerson() {
	var name;
	var pic;
	const random = rnd(totalPersons);

	if (random < manNames.length) {
		// man
		name = manNames[random];
		pic = randomManPng();
	}
	else {
		// female
		name = femaleNames[random - manNames.length];
		pic = randomFemalePng();
	}
	return {
		name: name,
		pic: pic
	}
}

function populatePbar() {
	var allNames = [];
	allNames = allNames.concat(manNames);
	allNames = allNames.concat(femaleNames);
	shuffle(allNames);

	const persons = [];
	var html = "";
	for (const name of allNames) {
		var pic;

		if (manNames.includes(name)) {
			pic = randomManPng();
		} else {
			pic = randomFemalePng();
		}

		persons.push({
			name: name,
			pic: pic
		});
		html += `<div><img src=${pic}><br>${name}</div>`;
	}
	$('#pbar').html(html);
}


// ---------------------------------------------- control utils

function toggleSnow(){
	const snowflakes = document.getElementById('_sneg');
	snowflakes.style.display = snowflakes.style.display === 'none' ? '' : 'none';
}

function toggleMusic(audio){
	const isMusicPaused = audio.paused;
	isMusicPaused ? audio.play() : audio.pause();
}

// ------------------------------------------------------------


var cndx;
var cc;

function startChallenges() {
	$('.controls').show();
	loadAndPlayAudio();
	shuffle(challenges);
	cndx = 0;
	nextChallenge();
}

function nextChallenge() {
	if (cndx == lastChallenge) {
		// end of challenge
		const dlg = $('#challenge');
		dlg.addClass('flipOutX');
		window.setTimeout(function() {
			dlg.hide().removeClass('flipOutX');
			theEnd();
		}, 700);
		return;
	}

	// appear
	$('#challenge').show().addClass('flipInX');
	window.setTimeout(function() {
 		$('#challenge').removeClass('flipInX');
	}, 1000);

	cc = challenges[cndx];
	cndx += 1;
	$('#q').text(cc.q);

	const person = randomPerson();
	$('#p img').attr('src', person.pic);
	$('#p span').text(person.name);
}

function error(item) {
	item = $(item);
	item.addClass('shake');
	window.setTimeout(function() {
	 	item.removeClass('shake');
	}, 1000);
}

function correctAnswer(item) {
	item = $(item);
	item.addClass('bounce');
	window.setTimeout(function() {
		item.removeClass('bounce');
		nextChallenge();
	}, 1000);
}

function theEnd() {
	console.log("All best, your friends from Heapspace :)")
	$('#challenge').hide('slow');
	$('#wish').show();
	populatePbar();
	window.setInterval(() => {
		populatePbar();
	}, 2000);
}


var allItems = [];

$(function() {
	console.log('Happy New 2019!');

	// collect all IDs
	$("g").each(function() {
		const id = $(this).attr('id');
		if (id) {
			if (!id.startsWith('_')) {
				allItems.push(id);
			}
		}
	});

	// turn on the lights
	$("#_svetla circle").each(function() {
		$(this).addClass("lights");
	});
	$("#_svetla2_ circle").each(function() {		// CLASSNAME!
		$(this).addClass("lights2");
	});
	const flash = $("#_flash path");
	window.setInterval(function() {
		flash.each(function() {
			const _this = $(this);
			var c = _this.css('fill');
			c = getRGB(c);
			_this.css('fill', `rgb(${c.red},${c.blue},${c.green})`);
		});
	}, 1000);


	// close the welcome dialog, start!
	$('#hello .msgbox').click(function() {
		$('#hello').addClass('fadeOut');
		window.setTimeout(function() {
			$('#hello').hide();
			//theEnd();
			startChallenges();
		}, 900);
	});

	// add click handlers
	for (const itemId of allItems) {
		$('#' + itemId).click(function() {
			const id = $(this).attr('id');
			//console.log("clicked " + id);
			if (id === cc.a) {
				correctAnswer(this);
			}
			else {
				error(this);
			}
		});
	}

	// preload images
	const allPics = [];
	for (var i = 1; i <= manCount; i++) {
		allPics.push(`/g/m${i}.png`);
	}
	for (var i = 1; i <= femaleCount; i++) {
		allPics.push(`/g/f${i}.png`);
	}
	preloadImages(allPics);
});


</script>
  {{ partial "ga" }}
{{ end }}
