{{ define "main" }}
<main>
	<div id="hello" class="modal modal-all over">
		<a class="msgbox jackInTheBox"><div>
			Who doesn't like Christmas holidays?<br>
			Help us to lift the spirit up a bit!
		</div></a>
	</div>

	<div id="wish" class="modal over">
		<div class="msgbox"><div class="clearfix">
			We wish you a Merry Christmas<br>and a Happy New Year!
			<div style="font-size: 0.8em; margin-top: 0.3em;">- Your friends @ Heapspace.</div>
			<div id="pbar">
			</div>
		</div></div>
	</div>

	<div id="challenge" class="popup over"><div class="popupbox"><div>
		<div id="p"><img src="/g/m1.png"><span>&nbsp;</span></div>
		<div id="q">&nbsp;</div>
	</div></div></div>

	<section class="svg-container">
		{{ partial "sng2019.svg" }}
	</section>

	<div class="controls">
		<input id="musicbox" type="checkbox" onclick='toggleMusic(audio)' checked><label for="musicbox">music</label>
		<input id="snowbox" type="checkbox" onclick='toggleSnow()' checked><label for="snowbox">snow</label>
	</div>

</main>

<footer>
	Brought to you with &nbsp;<span class="heartbeat"></span>&nbsp; by Heapspace.
</footer>

{{ end }}

{{ define "js" }}
<script type="text/javascript">

const manCount = 21;
const femaleCount = 16;
const manNames = ['Mita', 'Igor', 'Nino', 'Stefan', 'Nikola'];
const femaleNames = ['Vesna', 'Jovana', 'Ivana', 'Kaća', 'Nevena'];
const totalPersons = manNames.length + femaleNames.length;

const challenges = [
{
	q: 'Red suite, white hair, North Pole. Who is he?',
	a: 'deda'
}, {
	q: 'Ah *deer*, I love geek talks and warm sweaters.',
	a: 'irvas'
}, {
	q: 'Snow, snow, little ball, in a snow; recursion flow!',
	a: 'kugla'
}, {
	q: 'Jingle.apply(solution).times(3);',
	a: 'zvono'
}, {
	q: 'In Heapspace we believe that giving and sharing is a *gift*.',
	a: 'poklon2'
}, {
	q: 'They come in pair, so hurry and find a missing one!',
	a: 'carapa'
}, {
	q: 'Many paths are there to follow with the Heapspace.',
	a: 'putokaz'
}, {
	q: 'Heapcon will rock in 2019. like a r.....!',
	a: 'raketa'
}, {
	q: 'Heapspace loves Linux - and Linux loves animals.',
	a: 'pingvin'
}, {
	q: 'Snow, carrot and a big smile... Who is he?',
	a: 'snesko'
}
];
const lastChallenge = 3;

// ------------------------------------------------------------- util

function preloadImages(arguments) {
  for (var i = 0; i < arguments.length; i++) {
    $("<img />").attr("src", arguments[i]);
  }
}

function loadAndPlayAudio() {
	audio = new Audio('/JingleBells.mp3');
	audio.autoplay = true;
	audio.volume = 0.4;
	audio.loop = true;
	audio.play();
}

function shuffle(a) {
    for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
    }
    return a;
}

function getRGB(str){
  var match = str.match(/rgba?\((\d{1,3}), ?(\d{1,3}), ?(\d{1,3})\)?(?:, ?(\d(?:\.\d?))\))?/);
  return match ? {
    red: match[1],
    green: match[2],
    blue: match[3]
  } : {};
}

function rnd(max) {
	return Math.floor(Math.random() * max);
}
function randomManPng() {
	return '/g/m' + (rnd(manCount) + 1) + '.png';
}
function randomFemalePng() {
	return '/g/f' + (rnd(femaleCount) + 1) + '.png';
}

function randomPerson() {
	var name;
	var pic;
	const random = rnd(totalPersons);

	if (random < manNames.length) {
		// man
		name = manNames[random];
		pic = randomManPng();
	}
	else {
		// female
		name = femaleNames[random - manNames.length];
		pic = randomFemalePng();
	}
	return {
		name: name,
		pic: pic
	}
}

function populatePbar() {
	var allNames = [];
	allNames = allNames.concat(manNames);
	allNames = allNames.concat(femaleNames);
	shuffle(allNames);

	const persons = [];
	var html = "";
	for (const name of allNames) {
		var pic;

		if (manNames.includes(name)) {
			pic = randomManPng();
		} else {
			pic = randomFemalePng();
		}

		persons.push({
			name: name,
			pic: pic
		});
		html += `<div><img src=${pic}><br>${name}</div>`;
	}
	$('#pbar').html(html);
}


// ---------------------------------------------- control utils

var snowing = false;
function toggleSnow(){
	if (snowing) {
		snowing = false;
		$('#_snow1_').removeClass('_snow1_');
		$('#_snow2_').removeClass('_snow2_');
		$('#_snow3_').removeClass('_snow3_');
	}
	else {
		snowing = true;
		$('#_snow1_').addClass('_snow1_');
		$('#_snow2_').addClass('_snow2_');
		$('#_snow3_').addClass('_snow3_');
	}
}

function toggleMusic(audio){
	const isMusicPaused = audio.paused;
	isMusicPaused ? audio.play() : audio.pause();
}

function showFooter(){
	const footerMessage = document.querySelector('footer');
	footerMessage.style.display = 'block';
};
// ------------------------------------------------------------


var cndx;
var cc;

function startChallenges() {
	$('.controls').show();
	toggleSnow();
	loadAndPlayAudio();
	showFooter();
	shuffle(challenges);
	cndx = 0;
	nextChallenge();
}

function nextChallenge() {
	if (cndx == lastChallenge) {
		// end of challenge
		const dlg = $('#challenge');
		dlg.addClass('flipOutX');
		window.setTimeout(function() {
			dlg.hide().removeClass('flipOutX');
			theEnd();
		}, 700);
		return;
	}

	// appear
	$('#challenge').show().addClass('flipInX');
	window.setTimeout(function() {
 		$('#challenge').removeClass('flipInX');
	}, 1000);

	cc = challenges[cndx];
	cndx += 1;
	var txt = cc.q;
	if (cndx === 1) {
		txt = '<div>Three challenges to solve!</div>' + txt;
	}
	else if (cndx === 2) {
		txt = '<div>Two to go!</div>' + txt;
	} else if (cndx === lastChallenge) {
		txt = '<div>The final one!</div>' + txt;
	}
	$('#q').html(txt);

	const person = randomPerson();
	$('#p img').attr('src', person.pic);
	$('#p span').text(person.name);
}

function error(item) {
	item = $(item);
	item.addClass('shake');
	window.setTimeout(function() {
	 	item.removeClass('shake');
	}, 1000);
}

function correctAnswer(item) {
	item = $(item);
	item.addClass('bounce');
	window.setTimeout(function() {
		item.removeClass('bounce');
		nextChallenge();
	}, 1000);
}

function theEnd() {
	console.log("All best, your friends from Heapspace :)")
	$('#challenge').hide('slow');
	$('#wish').show();
	populatePbar();
	window.setInterval(() => {
		populatePbar();
	}, 2000);
}


var allItems = [];

$(function() {
	console.log('Happy New 2019!');

	// collect all IDs
	$("g").each(function() {
		const id = $(this).attr('id');
		if (id) {
			if (!id.startsWith('_')) {
				allItems.push(id);
			}
		}
	});

	// turn on the lights
	$("#_svetla circle").each(function() {
		$(this).addClass("lights");
	});
	$("#_svetla2_ circle").each(function() {		// CLASSNAME!
		$(this).addClass("lights2");
	});
	const flash = $("#_flash path");
	window.setInterval(function() {
		flash.each(function() {
			const _this = $(this);
			var c = _this.css('fill');
			c = getRGB(c);
			_this.css('fill', `rgb(${c.red},${c.blue},${c.green})`);
		});
	}, 1000);


	// close the welcome dialog, start!
	$('#hello .msgbox').click(function() {
		$('#hello').addClass('fadeOut');
		window.setTimeout(function() {
			$('#hello').hide();
			//theEnd();
			startChallenges();
		}, 900);
	});

	// add click handlers
	for (const itemId of allItems) {
		$('#' + itemId)
			.addClass('clicker')
			.click(function() {
				const id = $(this).attr('id');
				//console.log("clicked " + id);
				if (id === cc.a) {
					correctAnswer(this);
				}
				else {
					error(this);
				}
			});
	}

	// preload images
	const allPics = [];
	for (var i = 1; i <= manCount; i++) {
		allPics.push(`/g/m${i}.png`);
	}
	for (var i = 1; i <= femaleCount; i++) {
		allPics.push(`/g/f${i}.png`);
	}
	preloadImages(allPics);
});


</script>
  {{ partial "ga" }}
{{ end }}
