{{ define "main" }}

<main>
	<div id="overlay" class="modal over">
		<a class="msgbox anim-appear"><div>
			Year 2019. is missing!<br>
			Help the Heapspace team<br>
			to return it back!
		</div></a>
	</div>

	<div id="challenge" class="popup over"><div class="popupbox"><div>
		<div style="flex: 0 0 50px; padding: 0 0.4em; font-size: 0.7em;"><img src="/g/team1.png">Name</div><div style="padding: 0;">How many times must I say 'HO'?</div>
	</div></div></div>

	<section class="svg-container">
		{{ partial "sng2019.svg" }}
	</section>

</main>

<footer></footer>

{{ end }}


{{ define "js" }}
<script type="text/javascript">

function displayChallenge() {

}

$(function() {
	console.log('Happy New 2019!');

	// click to close the dialog
	$('.msgbox').click(function() {
		$(this).hide();
		$('#overlay').hide();
		$('#challenge').show();
	});

	$('#deda').click(function() {
		const item = $(this);
		item.addClass('anim-shake');
		window.setTimeout(function() {
			item.removeClass('anim-shake');
		}, 1000);
	});
});
</script>
  {{ partial "ga" }}
{{ end }}
