#rubrika {
  padding-left: 0;
  li {
    margin: 1em 0;
    list-style: none;
    padding-left: 10px;
  }
  li.post-true {
    border-left: 10px solid $color-hs-blue;
  }
  li.news-true {
    border-left: 10px solid $color-hs-red;
  }
  .desc {
    margin-top: 0.5em;
    font-size: 0.8em;
  }
}
