header {
  font-size: 1em;
  position: fixed;
  z-index: 10;
  width: 100%;
  white-space: nowrap;
  background-color: $color-hs-black;
}

nav ul li a {
  text-decoration: none;
  color: $color-hs-white;
}

.site-logo {
  position: absolute;
  top: 2px;
}

nav {
  width: 100%;
  margin: 10px 0 10px 60px;
  display: inline-block;
  line-height: 2em;

  ul {
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding-left:0;
  }

  li {
    display: block;
    flex: 0 1 auto;
    flex-grow: 1;
    flex-basis: 0;
    border-left: 1px solid $color-hs-white;
  }

  a {
    display: block;
    padding-left: 3px;
    text-transform: lowercase;
    letter-spacing: -1px;
  }
  a:hover {
    color: $color-hs-black;
    background-color: $color-hs-white;
  }

  li.selected {
    background-color: $color-hs-white;
    a {
      color: $color-hs-black;
    }
  }
}

nav.nav-lang {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 28px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    li {
      display: inline-block;
      color: $color-hs-white;
      a {
        padding: 14px;
        text-decoration: underline;
      }
      a:hover {
        color: $color-hs-white;
      }
    }
  }
  .current-lang > span {
    background-color: $color-hs-white;
    color: $color-hs-black;
    padding: 14px;
  }
}
