.project {
  padding: 1em 1em 0 0;
  margin-left: 1em;
  margin-bottom: 4em;
  h2 {
    margin: 0 2em 0 0.5em;
  }
  .content {
    font-size: 1.3rem;
  }
  .bar {
    display: flex;
    a {
      font-size: 1rem;
      color: $color-hs-black;
      padding: 10px;
      &:hover {
        background-color: $color-hs-red;
        color: $color-hs-white;
      }
    }
  }
}
.project:first-child {
  border-top: none;
}
