
/** Colors */
$color-hs-black:		#231f20;
$color-hs-red:			#fd4000;
$color-hs-beige:		#fff4e1;
$color-hs-blue:			#384af4;
$color-hs-white:		#ffffff;

:root {
  --color-hs-black: #231f20;
  --color-hs-red:   #fd4000;
  --color-hs-beige: #fff4e1;
  --color-hs-blue:  #384af4;
  --color-hs-white: #ffffff;
}


/** Fonts */
$font-title:        'HS Grotesk', sans-serif;
$font-main:         'Menoe Grotesque', sans-serif;
$font-sans:         'Nunito', sans-serif;

/** MEDIA */

$screen-large:		1340px;
$screen-medium:		968px;
$screen-break:		768px;
$screen-small:		600px;
