
//// GRIDBOX

main, .gridbox {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1150px) 1fr;
  grid-gap: 1em;
}
main {
  @extend .gridbox;
  @extend .text-large;
  padding-top: 100px;
  padding-bottom: 1em;
}

.gridbox-content {
  grid-column: 2;
  line-height: 1.2;
}

.text-large {
  font-size: 1.5rem;
  letter-spacing: -2px;
}
.text-big {
  font-size: 2rem;
  letter-spacing: -2px;
}
.text-medium {
  font-size: 1rem;
}
.text-name {
  font-family: $font-title;
  letter-spacing: 0 ;
}


//// HOMEPAGE

.homepage {
  max-width: 100%;
  padding: 0;
  margin: 1em 0;
}

article.home-post {
  display: inline-block;
  background: #fff;
  box-sizing: border-box;
  //box-shadow: 2px 2px 4px 0 #ccc;
  h2 {
    margin: 0.5em 0;
    padding-bottom: 0.2em;
    border-bottom: 1px solid $color-hs-black;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .date {
    position: absolute;
    top: 270px;
    right: 0;
    z-index: 1;
    background: $color-hs-black;
    width: 55px;
    height: 32px;
    padding: 11px 0;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 14px;
    text-transform: uppercase;
  }
}
article div.content {
  margin: 0 1em 1em 1em;
  border-bottom: 1px solid $color-hs-black;
}
article {
  .box {
    border-top: 4px solid $color-hs-black;
    border-bottom: 4px solid $color-hs-black;
    height: 280px;
    overflow: hidden;
  }
  .boximg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  a:hover .boximg,
  a:focus .boximg {
    transform: scale(1.2);
  }
  .category {
    font-family: $font-sans;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 0;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.grid-item {
  width: 280px;
  margin: 0 0 20px;
}

.grid-item--width2 {
  width: 570px;
}
