---
title: Rubrika
description: Predstavljamo naše aktivnosti i aktuelnosti iz IT sveta, preduzetništva, kulture.
barimg: blog.png
barcolor: bg-black
post: false
menu: 20
---

{% set posts = site.pages() | pagesInRubrika | sortBy('date') | reverse %}

<ul id="rubrika">
{% for p in posts | sortBy('date') | reverse %}
  <li class="post-{{ p.post }} news-{{ p.news }}">
    {{ p.date | rsDateShort }} <a href="{{ p.url }}">{{ p.title }}</a><br>
    <div class="desc">{{ p.description }}</div>
  </li>
{% endfor %}
</ul>
