---
title: Rubrika
description: Predstavljamo naše aktivnosti i ideje; delimo tuđe.
barimg: blog.png
barcolor: bg-black
post: false
menu: 20
---

{% set posts = site.pages() | pagesWithinSubdirs('/blog/') | sortBy('date') | reverse %}

{% for p in posts | sortBy('date') | reverse %}

  <ul id="blog">
  <li>
    {{ p.date | rsDateShort }} <a href="{{ p.url }}">{{ p.title }}</a><br>
    <div class="desc">{{ p.description }}</div>
  </li>
  </ul>
{% endfor %}
