{% extends "base.njk" %}

{% block head %}
    <script src="/js/foo.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}


{% block main %}
  {{ content | safe }}
{% endblock %}

{% block script %}
<script>
ready(() => {
	const msnry = new Masonry('.grid', {
		itemSelector: '.grid-item',
		columnWidth: 280,
		gutter: 10,
    horizontalOrder: true
	});
});
</script>
{% endblock %}
