{% extends "base.njk" %}

{% block head %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}


{% block main %}
  {{ content | safe }}

  <div class="gridbox"><div class="gridbox-content text-large" style="padding: 4em 0">
  <div class="flex">
    <div class="flex-column"><div class="counter"><div class="count">16</div>godina</div>
    </div>
    <div class="flex-column"><div class="counter"><div class="count">200+</div>događaja</div>
    </div>
    <div class="flex-column"><div class="counter"><div class="count">10k+</div>interakcija</div>
    </div>
  </div>
      <div class="flex">
        <div class="flex-column"><img src="/gfx/m1.svg"></div>
        <div class="flex-column"><img src="/gfx/m2.svg" style="position: relative; top: 20px;"></div>
        <div class="flex-column"><img src="/gfx/m3.svg" style="position: relative; top: -50px;"></div>
      </div>
  </div></div>

  <div class="gridbox bg-beige"><div class="gridbox-content text-large" style="padding: 2em 0">
      Heapspace radi na:

      <div class="flex"><div class="flex-column">
          <a href="https://airtable.com" target="_blank"><img src="/logo/airtable.png" alt="" width="140px"></a>
        </div><div class="flex-column">
          <a href="https://netlify.com" target="_blank"><img src="/logo/netlify.png" alt="" width="140px"></a>
        </div><div class="flex-column"><a href="https://slack.com" target="_blank"><img src="/logo/slack.png" alt="" width="140px"></a>
        </div><div class="flex-column"><a href="https://zapier.com" target="_blank"><img src="/logo/zapier.png" alt="" width="120px"></a>
        </div>
      </div>

  </div></div>

{% endblock %}

{% block script %}
<script>

function ready(callback) {
  // in case the document is already rendered
  if (document.readyState !== 'loading') callback(); // modern browsers
  else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback); // IE <= 8
  else document.attachEvent('onreadystatechange', function () {
      if (document.readyState === 'complete') callback();
    });
}

ready(() => {
	const msnry = new Masonry('.grid', {
		itemSelector: '.grid-item',
		columnWidth: 280,
		gutter: 10,
    horizontalOrder: true
	});
});
</script>
{% endblock %}
