---
title: "Heapspace"
layout: "home"
---

<div style="margin: 0 0 2em 0;">
Mi smo <span class="text-name">Heapspace</span> organizacija. Od 2004. se udružujemo i ostvarujemo ideje kroz inovativne akcije i projekte koji rezonuju sa našim vrednostima s ciljem povezivanja i razvoja timova i pojedinaca.
<br><br>
Pokreće nas da prenosimo strast drugima i inspirišemo ih na napredovanje i akciju.
</div>

<div class="homepage grid text-medium">
  {% set posts = site.pages() | pagesWithinSubdirs('/blog/') | sortBy('date') | reverse %}

  {% for p in posts %}
    <div class="home-post grid-item post-{{ p.category }}"><a href="{{ p.url }}">
        <div class="date">{{ p.date | dateDisplay }}</div>
      <h2>{{ p.title }}</h2>
      <p>{{ p.description }}</p>

      <p>{{ loop.index }}</p>
    </a></div>

  {% endfor %}

</div>
