---
title: "Heapspace"
layout: "home"
home: true
---

<main class="bg-blue"><div class="gridbox-content text-big">
<p>
  Mi smo <span class="text-name">Heapspace</span> organizacija. Od 2004. se udružujemo i ostvarujemo ideje kroz inovativne akcije i projekte koji rezonuju sa našim vrednostima s ciljem povezivanja i razvoja timova i pojedinaca.
</p>
{#<p>#}
{#  Pokreće nas da prenosimo strast drugima i inspirišemo ih na napredovanje i akciju.#}
{#</p>#}
</div></main>


<div class="gridbox"><div class="gridbox-content">
  <div class="homepage grid text-medium">
    {% set posts = site.pages() | pagesWithinSubdirs('/blog/') | sortBy('date') | reverse %}

    {% for p in posts %}
      <article class="home-post grid-item"><a href="{{ p.url }}">
          <img src="{{ p.url }}/box.jpg">
          <div class="date">
            <div class="day">{{ p.date | dateDisplay('d') }}</div>
            <div class="month">{{ p.date | rsShortMonth }}</div>
          </div>
          <div class="content">
            <div class="category category-{{ p.category }}"><img src="/cat-{{ p.category }}.png"></div>
            <h2>{{ loop.index }}. {{ p.title }}</h2>
            <p>{{ p.description }}</p>
          </div>
          <div class="day" style="text-align: center">{{ p.date | dateDisplay('d') }} {{ p.date | rsShortMonth }}</div>
      </a></article>
    {% endfor %}

  </div>
</div></div>
